/**
 * The following styles get applied both on the front of the site
 * and in the editor.
 */
.wp-block-sp-sp-recent-post-showcase {
	min-height: 100px;
	cursor: pointer;
}

.sp-post-grid-wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.sp-post-grid .sp-post-pagination a,
.sp-post-grid .sp-post-read-more,
.sp-post-grid .sp-post-item,
.sp-post-grid .sp-post-meta a,
.sp-post-grid .sp-post-title a {
	transition: .3s;
}

.sp-post-grid-wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));

	.sp-post-item {
		overflow: hidden;
		background: #F5F5F5;
		border-color: #DCDCDE;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-radius: 4px 4px 4px 4px;
		box-shadow: none;
		padding: 15px;
	}

	.sp-post-title {
		font-size: 20px;
		color: #2c2d2f;
		margin: 15px 0 10px;
	}

	.sp-post-title a {
		display: inline-block;
	}

	.sp-post-image img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.sp-post-meta {
		font-size: 12px;
		color: #a09a9a;
		margin-top: 6px;
	}

	.sp-post-cat {
		display: inline-block;
	}

	.sp-post-content {
		font-size: 14px;
		color: #888888;
		margin-bottom: 20px;

		p {
			margin: 0 !important;
		}
	}

	.sp-post-pagination a {
		display: inline-block;
		padding: 8px 16px;
		border: 1px solid #ccc;
		text-decoration: none;
	}
}

.sp-post-read-more {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	line-height: 24px;
	color: #FFFFFF;
	box-shadow: none;
	padding: 8px 16px 8px 16px;
	margin: 20px 0px 0px 0px;
	border-color: #DCDCDE;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 4px 4px 4px 4px;
	background: #0053F0;
	margin-bottom: 10px;
}

.sp-post-meta {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	line-height: 20px;
	color: #7B7878;
	text-align: left;
	margin: 10px 0px 20px 0px;
}

.sp-post-pagination {
	text-align: center;
	margin: 20px auto;

	a.current {
		color: #ffffff;
		background: #0053F0;
	}

	a {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		text-transform: none;
		text-decoration: none;
		line-height: 24px;
		color: #0053F0;
		padding: 8px 16px 8px 16px;
		margin: 40px 4px 0px 0px;
		border-color: #0053F0;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		border-radius: 4px 4px 4px 4px;
		background: transparent;
	}
}

.sp-post-grid-wrapper.list-layout {
	.sp-post-item {
		display: flex;
		gap: 20px;
		border: 1px solid #ddd;
		padding: 20px;
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	}

	/* Image styling */
	.sp-post-image img {
		width: 180px;
		height: auto;
		object-fit: cover;
		border-radius: 4px;
	}

	/* Post body */
	.sp-post-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}